@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed')

// Green primary #02a479
$primary: #bd8f3a
$silver: #e0e2ee
$white: #f1f1f1
$black: #0f0f0f
$red: #ed0344

@keyframes animating-opacity
  0%
    opacity: 0.1
  25%
    opacity: 0.12
  50%
    opacity: 0.1
  75%
    opacity: 0.08
  100%
    opacity: 0.1

@keyframes animating-opacity-100
  0%
    opacity: 1
  25%
    opacity: 0.8
  50%
    opacity: 0.9
  75%
    opacity: 0.8
  100%
    opacity: 1

@keyframes avatar-fade-in
  0%
    opacity: 0
    top: 50px
  100%
    opacity: 1
    top: 10px

@keyframes map-point-glow
  0%
    box-shadow: 0 0 0 0 $white
  50%
    box-shadow: 0 0 10px 0 $white
  100%
    box-shadow: 0 0 0 0 $white


.logo-wrapper
  display: inline-block
  height: 50px
  margin: 10px 0 0 45px
  padding: 0
  width: 50px
  overflow: visible
  background-color: transparent
  border: none
  outline: 0

.logo
  background-color: $white
  -webkit-transform: skew(25deg,0deg)
  -ms-transform: skew(25deg,0deg)
  transform: skew(25deg,0deg)
  float: left
  clear: both
  width: 11.428px
  height: 10px
  margin-top: 18px
  margin-left: 15px
  &,
  &:after,
  &:before
    display: block
    position: relative
  &:after,
  &:before
    content: " "
    background-color: $primary
    -webkit-transform: skew(-50deg,0deg)
    -ms-transform: skew(-50deg,0deg)
    transform: skew(-50deg,0deg)
  &:before
    margin-top: -10px
    margin-left: 17.3px
    margin-right: -18px
    height: 10px
  &:after
    margin-top: 10px
    margin-left: -5.9px
    margin-right: -7.3px
    height: 10px

html,
body
  background: $black
  font-family: 'Roboto Condensed', sans-serif
  height: 100%
  max-height: 100%
  margin: 0
  min-height: 100%
  overflow: hidden
  padding: 0
  width: 100%
  max-width: 100%

  .home-wrapper
    display: block
    margin: 0 -18px 0 0
    padding: 0
    height: 100%
    max-height: 100%
    max-width: calc(100% + 18px)
    width: calc(100% + 18px)

  .row
    display: flex
    margin: 0
    padding: 0
    width: 100%

    .col-25
      flex: 1
      max-width: 25%
    .col-50
      flex: 1
      max-width: 50%
    .col-75
      flex: 1
      max-width: 75%

  .main-container
    margin: 0 auto
    width: 75%

  .white-bg
    background: $white

  header
    display: block
    left: 0
    height: 60px
    position: fixed
    right: 0
    top: 0
    z-index: 3

    nav
      display: inline-block
      float: left
      font-size: 14px
      height: 60px
      left: calc(50% - 90px)
      letter-spacing: 1px
      position: absolute
      width: auto

      ul
        list-style: none
        margin: 0
        overflow: hidden
        padding: 0

        li
          display: inline-block
          margin: 0 -1px 0 0
          padding: 0
          perspective: 1000px
          position: relative

          &:hover a
            background: lighten($primary, 15%)
            transform: rotateX(90deg) translateY(-22px)

            &:before
              transition: background 0.3s
              background: $primary

          a
            background: $primary
            color: $black
            display: block
            height: 60px
            line-height: 60px
            padding: 0 20px
            position: relative
            text-decoration: none
            text-transform: uppercase
            transition: transform 0.3s, background 0.3s
            transform-style: preserve-3d
            transform-origin: 50% 0

            &:before
              background: darken($primary, 15%)
              color: $white
              content: attr(data-hover)
              top: 100%
              left: 0
              width: 100%
              height: 100%
              position: absolute
              text-align: center
              text-transform: uppercase
              transition: background 0.3s
              transform: rotateX(-90deg)
              transform-origin: 50% 0

          &.active
            a
              background: $primary
              color: $white

              &:before
                background: $primary
                color: $white

  .square-avatar
    animation: animating-opacity-100 10s infinite
    flex: 1
    height: 75vh
    overflow: hidden
    position: relative
    min-width: 50%
    max-width: 50%
    width: 50%

    &:after
      animation: avatar-fade-in 2s
      background: url('/assets/img/avatar3yellow.svg') no-repeat
      background-size: contain
      background-position-x: left
      background-position-y: bottom
      content: ' '
      display: block
      height: 100%
      left: -5px
      padding-right: 5px
      min-height: 100%
      min-width: 100%
      position: absolute
      top: 10px
      width: 100%

  .home-tag
    width: 400px
    position: absolute
    top: 20%
    right: 15%
    color: $primary
    text-align: justify
    font-size: 20px
    text-transform: uppercase

    span
      color: $primary
      transition: 2s color

      &.white
        color: $white
        transition: 2s color

  .home-title
    box-sizing: border-box
    color: $primary
    flex: 1
    font-size: 35px
    height: 25vh
    line-height: 25vh
    margin: 50vh 0 0 0
    padding: 0 50px
    text-align: left
    top: 40vh
    width: 45%
    z-index: 2

  .top-menu
    background: transparent
    left: 0
    height: 30px
    position: fixed
    right: 0
    top: 0
    z-index: 3

  .promo
    box-sizing: border-box
    color: $white
    display: flex
    flex-direction: column
    font-size: 18px
    justify-content: center
    min-height: 250px
    padding: 20px

    &__text
      font-weight: 400
      font-size: 40px
      letter-spacing: 1px
      text-align: center

  ul.bottom-bar
    background: $black
    display: flex
    list-style: none
    height: 25vh
    margin: 0
    width: calc(100% - 18px)
    padding: 0

    li
      box-sizing: border-box
      border-top: transparent solid 0
      flex: 1
      margin: 0
      max-width: 25%
      overflow: hidden
      padding: 10px
      transition: border-top 0.3s

      &:hover
        border-top: 5px solid $primary
        transition: border-top 0.3s

      &:last-of-type
        border-right: none

      a
        box-sizing: border-box
        color: $black
        display: block
        height: calc(25vh - 20px)
        margin: 0
        width: 100%
        padding: 0 20px
        text-align: left
        text-decoration: none
        transition: 0.3s background, 0.3s color

        div
          strong,
          span
            display: block
          strong
            color: $primary
            padding-top: 7vh
            text-transform: uppercase
          span
            color: $white
            padding-top: 5px

  //  EXPERIENCE PAGE
  .experience-wrapper
    height: 100%
    min-height: 100%
    max-height: 100%
    width: 100%

    .experience-title
      text-align: center
      margin: 100px 0 0 0

      span
        background: lighten($white, 100%)
        color: $black
        float: none
        padding: 10px 20px

    .point-info
      background: lighten($white, 100%)
      box-sizing: border-box
      color: $black
      display: block
      left: 50%
      height: auto
      margin-left: -150px
      opacity: 0
      padding: 10px 20px 30px 20px
      position: fixed
      top: 23vh
      transition: 1s top, 1s opacity
      width: 350px
      z-index: -1

      & + .shadow
        display: none
        position: fixed
        top: 0
        bottom: 0
        left: 0
        right: 0

      &.point-info--active
        opacity: 1
        top: 20vh

        & + .shadow
          display: block
          z-index: 9

      &.point-info--visible
        z-index: 10

      p
        text-align: center
        font-weight: bold

      small
        color: darken($white, 30%)
        display: block
        font-size: 10px
        padding: 10px 0 0 5px

      ul
        list-style-type: none
        margin: 0
        padding: 10px 0

        li
          margin: 0 0 0 15px
          padding: 0

          &:before
            content: '-'
            margin-left: -10px
            position: absolute

    .map-wrapper
      height: 100vh
      max-height: 100vh
      min-height: 100vh
      overflow: hidden
      width: 100vw

      .point
        animation: map-point-glow 1s infinite
        border-radius: 5px
        background: $white
        cursor: pointer
        display: block
        height: 10px
        opacity: 1
        position: absolute
        transition: 1s opacity
        width: 10px
        z-index: 3

        &--hidden
          opacity: 0
          transition: 1s opacity

      .experience-map
        background: url('/assets/img/map.svg') no-repeat
        background-size: 100% 100%
        background-position: center
        display: block
        height: auto
        max-height: 700px
        margin: 25px auto 50px auto
        overflow: hidden
        position: relative
        width: 95%
        z-index: 2

    ul.experience-filter
      background: lighten($white, 100%)
      bottom: 0
      color: $primary
      display: flex
      list-style: none
      margin: 0 20%
      overflow: hidden
      padding: 0
      position: absolute
      width: 60%
      z-index: 3

      li
        cursor: pointer
        flex: 1
        margin: 0 -1px 0 0
        padding: 0
        text-align: center
        perspective: 1000px
        position: relative

        &:hover span,
        &.active-filter span
          background: lighten($white, 100%)
          transform: rotateX(90deg) translateY(-22px)

          &:before
            transition: background 0.3s
            background: $primary

        span
          background: lighten($white, 100%)
          box-sizing: border-box
          color: $black
          display: block
          height: 100px
          line-height: 60px
          padding: 20px
          position: relative
          text-decoration: none
          text-transform: uppercase
          transition: transform 0.3s, background 0.3s
          transform-style: preserve-3d
          transform-origin: 50% 0

          &:before
            background: darken($primary, 15%)
            box-sizing: border-box
            color: $white
            content: attr(data-hover)
            top: 100%
            left: 0
            line-height: 60px
            width: 100%
            height: 100%
            padding: 20px
            position: absolute
            text-align: center
            text-transform: uppercase
            transition: background 0.3s
            transform: rotateX(-90deg)
            transform-origin: 50% 0

  // NOTES LIST PAGE
  .notes-list-wrapper
    display: flex
    margin-top: 100px

    &:after
      content: ' '
      position: fixed
      top: 0
      left: 0
      right: 0
      bottom: 0
      opacity: 0.1
      background: url('/assets/img/avatar3bw.svg') no-repeat
      background-size: contain
      background-position-x: left
      background-position-y: bottom
      animation: animating-opacity 10s infinite
      z-index: 1

    .calendar-wrapper
      display: none
      flex: 1
      max-width: 245px
      height: 100vh
      overflow-x: hidden
      overflow-y: auto
      padding-top: 100px
      padding-bottom: 100px
      padding-right: 50px
      position: fixed
      top: 0
      right: 0
      margin: 0 -18px 0 0
      z-index: 2

      .year-title
        text-align: center
        margin-top: 10px

      table
        background: white
        display: inline-table
        padding: 10px 20px 20px 20px
        margin: 0 0 10px 0

        &:last-of-type
          margin-bottom: 300px

        td,
        th
          text-align: center
          padding: 5px

          &.day--active:hover,
          &.day--has-notes
            background: $primary
            cursor: pointer
            color: $white

          &.day--selected
            background: $black !important
            color: $white

        th
          font-weight: normal

      &--active
        display: inline-block
        flex: 1

    .notes-list
      box-sizing: border-box
      list-style: none
      max-width: calc(100% - 295px)
      width: calc(100% - 295px)
      overflow: hidden
      padding: 0 0 0 50px
      height: calc(100vh - 100px)
      position: relative
      z-index: 2

      h1
        display: block

      ul
        display: block
        list-style: none
        margin: 0 -18px 0 0
        padding: 0 18px 0 0
        overflow-x: hidden
        overflow-y: auto
        height: calc(100vh - 100px)

        li
          display: block
          margin: 0 0 10px 0
          padding: 0

          &:last-of-type
            margin-bottom: 150px

          a
            background: $primary
            box-sizing: border-box
            color: $black
            display: inline-block
            text-decoration: none
            padding: 20px
            max-width: 90%

            span
              color: $white

            &:hover
              color: $white
              background: $primary
      &--filtered li:not(.entry--filtered) a
        display: none !important

  // SINGLE NOTE LIST ENTRY PAGE

  .note-list-entry__wrapper
    box-sizing: border-box
    display: block
    margin: 150px auto
    max-width: 800px
    overflow: hidden
    width: 75%
    height: calc(100vh - 150px)

    &:after
      content: ' '
      position: fixed
      top: 0
      left: 0
      right: 0
      bottom: 0
      opacity: 0.05
      background: url('/assets/img/avatar3bw.svg') no-repeat
      animation: animating-opacity 10s infinite
      background-size: contain
      background-position-x: left
      background-position-y: bottom
      z-index: 1

  .note-list-entry
    width: 100%
    margin: 0 -18px 0 0
    padding: 0 18px 0 0
    overflow-x: hidden
    overflow-y: auto
    height: calc(100vh - 150px)
    position: relative
    z-index: 2

    h1,
    article,
    .published
      box-sizing: border-box
      color: lighten($primary, 15%)
      clear: both
      display: block
      float: left
      padding: 20px 30px
      margin: 0 0 20px 0

    h1,
    .published
      clear: both
      display: inline-block

    .published
      color: $primary
      margin: 0

    & > h1
      color: $white

    article
      text-align: justify
      width: 100%

      h1, h2, h3, h4, p
        display: block
        line-height: 1.5em
        margin: 0
        padding: 15px 0
        width: 100%

      h1, h2, h3, h4
        color: $white

      blockquote
        color: $primary
        border-left: 4px solid $primary
        margin: 0
        padding-left: 20px
        font-style: italic

      p > img
        display: block
        clear: both
        margin: 0 auto
        max-width: 100%
        height: auto
      p > img + br
        display: block
        height: 0
      p > img + br + em
        display: block
        text-align: center
        font-size: 0.9em
        font-style: italic

      em,
      p em
        font-style: italic

      p code
        background: $black
        color: $primary
        padding: 5px
        vertical-align: baseline

      a,
      p a
        color: $white
        text-decoration: underline
        text-decoration-color: $primary

      p:last-of-type
        color: $white

      & > pre,
      & > pre > code
        background: $black
        color: $primary

      & > pre
        padding: 15px 20px
        white-space: pre-wrap
        overflow: hidden

      & > pre > code
        width: 100%

      & > ul
        list-style-type: none
        margin: 0
        padding: 0

        li
          padding: 0

          p
            padding: 0 0 0 20px

            &:before
              content: '-'
              display: inline-block
              margin-left: -20px
              margin-right: 10px

  // ABOUT PAGE

  .about-page-wrapper
    background: $black
    margin-top: 0
    padding-top: 0
    width: 100%
    box-sizing: border-box
    height: 100vh
    float: left

    &:after
      content: ' '
      position: fixed
      top: 0
      left: 0
      right: 0
      bottom: 0
      opacity: 0.1
      background: url('/assets/img/avatar3bw.svg') no-repeat
      animation: animating-opacity 10s infinite
      background-size: contain
      background-position-x: left
      background-position-y: bottom
      z-index: 1

    article
      color: lighten($primary, 15%)
      display: block
      margin: 200px auto
      max-width: 800px
      text-align: justify
      position: relative
      width: 75%
      z-index: 2

      h2
        color: $white

        &:first-of-type
          font-size: 1.75em

      a
        color: $white
        text-decoration: underline
        text-decoration-color: $primary

// RWD

@media screen and (max-width: 1280px)
  html,
  body
    .square-avatar:after
      background-size: contain

    .home-title
      font-size: 25px
      line-height: 1.5em
      padding-top: 9vh

@media screen and (max-width: 968px)
  html,
  body
    .square-avatar:after
      background-size: contain
      margin-left: -50%
      padding-right: 53%
    .note-list-entry
      width: 100%

@media screen and (max-width: 836px)
  body,
  html
    .logo,
    .logo:before,
    .logo:after
      background: $white

    .logo-wrapper
      margin: 10px

    header
      background: $primary

      nav
        left: 100px

    .home-wrapper > .row-flex:first-of-type
      display: block

    .square-avatar
      display: block
      width: 100%
      max-width: 100%
      min-width: 100%
      height: 100vh

    .home-title
      display: block
      position: absolute
      bottom: 0
      left: 0
      right: 0
      top: auto
      width: 100%
      margin: 0

    .note-list-entry__wrapper
      width: 90%

    ul.bottom-bar
      display: none

    .experience-wrapper
      ul.experience-filter
        margin: 0
        width: 100%

@media screen and (max-width: 700px)
  body
    .home-wrapper
      overflow-y: auto

    header
      overflow: hidden

      nav
        height: 78px
        margin-bottom: -18px
        overflow-x: auto
        overflow-y: hidden
        width: 100%

        ul
          width: 500px
          white-space: nowrap
          overflow: hidden

    .square-avatar
      height: 500px
      top: 60px
      width: 100%
      position: relative
      min-width: 100%
      max-width: 100%
      height: 100vh
      opacity: 0.55
      animation: none
      transition: none

      &:after
        background-position: left bottom
        background-size: contain
        margin: 0
        padding: 0
        width: 100%

    .home-tag
      width: 75%
      margin:
        left: auto
        right: auto

    .experience-wrapper
      .experience-title span
        line-height: 1.75em
      .point-info
        width: 90%
        margin: 0 5%
        left: auto

    .about-page-wrapper
      overflow-x: hidden
      overflow-y: scroll
      width: calc(100% + 18px)

      article
        box-sizing: border-box
        margin-top: 75px
        width: 100%
        overflow: hidden
        padding-right: 30px
        padding-left: 25px

    .calendar-wrapper
      display: none !important

    .notes-list
      width: 95% !important
      max-width: 95% !important
      margin: 0 auto
      padding-left: 10px !important

      ul li a
        text-align: center
        max-width: 100%
        min-width: 100%
        width: 100%

    .note-list-entry,
    .note-list-entry__wrapper
      width: 100%
      height: calc(100vh - 60px)
    .note-list-entry__wrapper
      margin: 60px 0 10px 0 !important
