@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed')

$red: #ED4125
$purple: #3f1d67
$silver: #e0e2ee
$slate: #222f38
$white: #f1f1f1
$black: #252525

@keyframes avatar-fade-in
  0%
    opacity: 0
    top: 50px
  100%
    opacity: 1
    top: 10px

.logo-wrapper
  display: inline-block
  height: 50px
  margin: 10px 0 0 45px
  padding: 0
  width: 50px
  overflow: visible
  background-color: transparent
  border: none
  outline: 0

.logo
  background-color: $black
  -webkit-transform: skew(25deg,0deg)
  -ms-transform: skew(25deg,0deg)
  transform: skew(25deg,0deg)
  float: left
  clear: both
  width: 11.428px
  height: 10px
  margin-top: 18px
  margin-left: 15px
  &,
  &:after,
  &:before
    display: block
    position: relative
  &:after,
  &:before
    content: " "
    background-color: $purple
    -webkit-transform: skew(-50deg,0deg)
    -ms-transform: skew(-50deg,0deg)
    transform: skew(-50deg,0deg)
  &:before
    margin-top: -10px
    margin-left: 17.3px
    margin-right: -18px
    height: 10px
  &:after
    margin-top: 10px
    margin-left: -5.9px
    margin-right: -7.3px
    height: 10px

html,
body
  background: linear-gradient($silver, $white)
  font-family: 'Segoe UI', sans-serif
  height: 100%
  max-height: 100%
  margin: 0
  min-height: 100%
  overflow: hidden
  padding: 0
  width: 100%
  max-width: 100%

  .home-wrapper
    display: block
    margin: 0
    padding: 0
    height: 100%
    max-height: 100%
    max-width: 100%
    width: 100%

  .row
    display: flex
    margin: 0
    padding: 0
    width: 100%

    .col-25
      flex: 1
      max-width: 25%
    .col-50
      flex: 1
      max-width: 50%
    .col-75
      flex: 1
      max-width: 75%

  .main-container
    margin: 0 auto
    width: 75%

  .white-bg
    background: $white

  header
    display: block
    left: 0
    height: 60px
    position: fixed
    right: 0
    top: 0
    z-index: 3

    nav
      display: inline-block
      float: left
      font-size: 14px
      height: 60px
      left: calc(50% - 90px)
      letter-spacing: 1px
      position: absolute
      width: auto

      ul
        list-style: none
        margin: 0
        overflow: hidden
        padding: 0

        li
          display: inline-block
          margin: 0 -1px 0 0
          padding: 0
          perspective: 1000px
          position: relative

          &:hover a
            lighten($purple, 15%)
            transform: rotateX(90deg) translateY(-22px)

            &:before
              transition: background 0.3s
              background: $purple

          a
            background: $purple
            color: $white
            display: block
            height: 60px
            line-height: 60px
            padding: 0 20px
            position: relative
            text-decoration: none
            text-transform: uppercase
            transition: transform 0.3s, background 0.3s
            transform-style: preserve-3d
            transform-origin: 50% 0

            &:before
              background: darken($purple, 15%)
              color: $white
              content: attr(data-hover)
              top: 100%
              left: 0
              width: 100%
              height: 100%
              position: absolute
              text-align: center
              text-transform: uppercase
              transition: background 0.3s
              transform: rotateX(-90deg)
              transform-origin: 50% 0

            &:hover,
            &.active-link


  .square-avatar
    background: $white
    flex: 1
    height: 75vh
    overflow: hidden
    position: relative
    min-width: 50%
    max-width: 50%
    width: 50%

    &:after
      animation: avatar-fade-in 2s
      background: $white url('/assets/img/avatar3.svg') no-repeat
      background-size: cover
      background-position-x: left
      background-position-y: bottom
      content: ' '
      display: block
      height: 100%
      left: -5px
      padding-right: 5px
      min-height: 100%
      min-width: 100%
      position: absolute
      top: 10px
      width: 100%

  .home-title
    background: $purple
    box-sizing: border-box
    color: $white
    flex: 1
    font-size: 35px
    height: 25vh
    line-height: 25vh
    margin: 50vh 0 0 0
    padding: 0 50px
    text-align: left
    top: 40vh
    width: 45%
    z-index: 2

  .top-menu
    background: transparent
    left: 0
    height: 30px
    position: fixed
    right: 0
    top: 0
    z-index: 3

  .promo
    box-sizing: border-box
    color: $white
    display: flex
    flex-direction: column
    font-size: 18px
    justify-content: center
    min-height: 250px
    padding: 20px

    &__text
      font-weight: 400
      font-size: 40px
      letter-spacing: 1px
      text-align: center

  ul.bottom-bar
    background: $black
    display: flex
    list-style: none
    height: 25vh
    margin: 0
    width: 100%
    padding: 0

    li
      box-sizing: border-box
      border-right: 1px solid lighten($black, 3%)
      border-top: transparent solid 0
      flex: 1
      margin: 0
      max-width: 30vh
      overflow: hidden
      padding: 10px
      transition: border-top 0.3s

      &:hover
        border-top: 5px solid darken($silver, 25%)
        transition: border-top 0.3s

      &:last-of-type
        border-right: none

      a
        box-sizing: border-box
        color: $black
        display: block
        height: calc(25vh - 20px)
        margin: 0
        width: 30vh
        padding: 0 20px
        text-align: left
        text-decoration: none
        transition: 0.3s background, 0.3s color

        div
          strong,
          span
            display: block
          strong
            color: $white
            padding-top: 7vh
            text-transform: uppercase
          span
            color: darken($silver, 25%)
            padding-top: 5px

@media screen and (max-width: 1280px)
  html,
  body
    .square-avatar:after
      background-size: contain

    .home-title
      font-size: 25px
      line-height: 1.5em
      padding-top: 9vh

    ul.bottom-bar li,
    ul.bottom-bar li a
      width: 25vw

@media screen and (max-width: 968px)
  html,
  body
    .square-avatar:after
      background-size: cover
      margin-left: -50%
      padding-right: 53%

@media screen and (max-width: 836px)
  body,
  html
    .logo,
    .logo:before,
    .logo:after
      background: $white

    .logo-wrapper
      margin: 10px

    header
      background: $purple

      nav
        left: 100px

    .home-wrapper > .row-flex:first-of-type
      display: block

    .square-avatar
      display: block
      width: 60%
      max-width: 60%
      min-width: 60%

    .home-title
      display: block
      position: absolute
      bottom: 0
      left: 0
      right: 0
      top: auto
      width: 100%
      margin: 0

    ul.bottom-bar
      bottom: 25vh
      position: absolute
      top: 60px
      right: 0
      left: 60%
      width: 40%
      height: calc(75vh - 60px)
      display: block

      li
        display: block
        border-top: none
        border-right: 0 solid transparent
        width: 100%
        max-width: 100%
        min-width: 100%
        margin: 0
        height: calc(calc((75vh - 60px)/4)
        transition: border-right 0.3s

        a
          height: calc(calc(75vh - 60px)/4)
          width: 100%

          & div strong
            padding-top: 3vh

        &:hover
          border-top: none
          border-right: 5px solid darken($silver, 25%)
          transition: border-right 0.3s

@media screen and (max-width: 700px)
  body
    .home-wrapper
      overflow-y: auto

    header
      overflow: hidden

    .square-avatar
      height: 500px
      top: 60px
      width: 100%
      position: relative
      min-width: 100%
      max-width: 100%

      &:after
        background-position: left bottom
        background-size: contain
        margin: 0
        padding: 0
        width: 100%
    .home-title
      bottom: auto
      left: 0
      height: 100px
      margin: 0
      padding-top: 30px
      right: 0
      top: 60px
      width: 100%

    ul.bottom-bar
      bottom: 0
      left: 0
      right: 0
      width: 100%
      position: relative
