:root {
  --gold: #ecbd29;
  --blue: #373b44;
  --blue-dark: #1c2029;
  --black: #121212;
  --blue-alt: #0f172a;
  --white-alt: #f9f9f9;
  --gray: #dddddd;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("/assets/fonts/RobotoCondensed.ttf") format("TrueType");
  font-style: normal;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("/assets/fonts/RobotoCondensed-Italic.ttf") format("TrueType");
  font-style: italic;
}

@font-face {
  font-family: "Bebas Neue";
  src: 
    url("/assets/fonts/Bebas.ttf") format("TrueType"),
    url("/assets/fonts/Bebas.otf") format("opentype"),
    url("/assets/fonts/Bebas.woff") format("woff");
}

body {
  background: #fff;
  font-family: "Roboto Condensed",sans-serif;
  height: 100%;
  margin: 0;
  min-height: 100%;
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: 545px;
}

.bebas {
  font-family: 'Bebas Neue', sans-serif;
}

.row {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.col-25 {
  flex: 1;
  max-width: 25%;
}

.clearfix {
  display: block;
  clear: both;
  width: 100%;
  height: 0;
}

footer {
  background: var(--blue-dark);
  color: #fff;
  padding: 20px 0;
  position: relative;
}

footer .title {
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer .copy {
  color: #fff;
  font-size: 0.8em;
  display: block;
  text-align: right;
}

footer a:hover {
  color: var(--gold);
  text-decoration: underline;
}

footer ul {
  margin: 20px 0;
  padding: 0;
  line-height: 1.5em;
  list-style: none;
}

footer ul li {
  margin: 0;
  padding: 5px 0;
  font-size: 0.8em;
}

footer ul li.title {
  font-weight: 900;
  font-size: 1em;
  text-transform: uppercase;
}

.main-container {
  margin: 0 auto;
  max-width: 1100px;
}

.footer-container {
  width: 100%;
  color: #121212;
  margin: 0 auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 10;
}

.logo-wrapper {
  display: inline-block;
  height: 50px;
  margin: 10px 0 0 0;
  padding: 0;
  width: 50px;
  overflow: visible;
  background-color: transparent;
  border: none;
  outline: 0;
}

.logo {
  display: block;
  position: relative;
  background-color: var(--gold);
  -webkit-transform: skew(25deg, 0deg);
  -ms-transform: skew(25deg, 0deg);
  transform: skew(25deg, 0deg);
  float: left;
  clear: both;
  width: 11.428px;
  height: 10px;
  margin-top: 8px;
  margin-left: 15px;
}

.logo::after, .logo::before
{
  display: block;
  position: relative;
  content: " ";
  background-color: var(--gold);
  transform: skew(-50deg, 0deg);
}

.logo::after
{
  margin-top: 10px;
  margin-left: -5.9px;
  margin-right: -7.3px;
  height: 10px;
}

.logo::before
{
  margin-top: -10px;
  margin-left: 17.3px;
  margin-right: -18px;
  height: 10px;
}

.logo:hover::after, 
.logo:hover::before {
  background: #121212;
}


.hero-wrapper,
.hero-wrapper-bg {
  width: 100%;
  height: 85vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

@keyframes slide-in-hero-bg {
  0% {
    right: 120vw;
  }
  100% {
    right: 0;
  }
}

.hero-wrapper-bg {
  box-sizing: border-box;
  background: var(--blue-dark);
  position: absolute;
  top: 0;
  animation: slide-in-hero-bg 1.25s;
  transform: skew(-30deg);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    margin-bottom: -10px;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

.hero-avatar-image {
  width: 500px;
  height: 500px;
  background: url('/assets/images/home-hero-image.png');
  background-size: contain;
  animation: fade-in 1s;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 6;
}

@keyframes slide-in-gold-bar {
  0% {
    left: 100vw;
    width: 100vw;
  }
  25% {
    width: 100vw;
  }
  50% {
    left: 5vw;
  }
  85% {
    width: 50px;
  }
  100% {
    left: 15vw;
  }
}

.hero-line {
  position: absolute;
  background: var(--gold);
  width: 50px;
  height: 150vh;
  transform: skew(-30deg);
  top: 0;
  left: 15vw;
  animation: slide-in-gold-bar 1s;
  z-index: 1;
}

.hero-h2, .hero-p {
  position: absolute;
  display: block;
  top: 30vh;
  left: 20vw;
  color: #fff;
  z-index: 7;
}

.hero-h2 {
  font-size: 3em;
  padding: 0px 10px;
  cursor: default;
}

.hero-h2 span,
.hero-p span {
  background: #121212;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: skew(-15deg);
  transition: transform 0.25s;
  top: -5px;
  left: -10px;
  z-index: -1;
  display: block;
  padding: 5px 10px;
}

.hero-h2:hover,
.hero-p:hover {
  cursor: default;
  color: var(--gold);
}

.hero-h2:hover span,
.hero-p:hover span {
  transition: transform 0.25s;
  transform: skew(15deg);
}

.hero-p {
  font-size: 1.5em;
  margin-top: 5em;
  padding: 5px 10px;
}

.main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 50px;
  float: right;
  letter-spacing: 1px;
  background: rgba(0,0,0,0.25);
}

.main-menu li {
  margin: 0;
  padding: 0;
  display: inline-block;
  background-image: linear-gradient(var(--gold), var(--gold));
  background-size: 100% 3px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  transition: background-size 0.5s;
}

.main-menu li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
}

.main-menu li.nav-active {
  background-image: linear-gradient(#121212, #121212);
  background-size: 100% 100%;
}

.main-menu li:hover {
  color: #000;
  background-size: 100% 100%;
  transition: background-size 0.5s;
}

.middle-section {
  background: var(--white-alt);
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding-bottom: 15vh;
}

.main-container--middle-home {
  width: 800px;
  position: relative;
  z-index: 2;
}

.middle-section .section-wrapper {
  position: relative;
  color: var(--blue);
  z-index: 2;
  display: inline-block;
  clear: both;
  /* background-color: #fff;
  transition: background-color 0.5s; */
  padding: 30px;
  cursor: default;
}

.section-wrapper > span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  transform: skew(0deg);
  transition: background-color 0.5s, transform 0.5s, margin 0.5s;
  z-index: 1;
}

.section-wrapper h2,
.section-wrapper p {
  position: relative;
  z-index: 2;
}

.section-wrapper h2 {
  margin-top: 0;
  font-size: 1.75em;
  text-transform: uppercase;
}

.section-wrapper--first,
.section-wrapper--third {
  margin-top: 10vh;
  width: 350px;
}

.section-wrapper--second,
.section-wrapper--fourth {
  float: right;
  margin-top: 5vh;
  width: 350px;
}

.section-wrapper--third {
  margin-top: 5vh;
}

.section-wrapper:hover {
  cursor: default;
  transition: background-color 0.5s;
  color: #fff;
}

.section-wrapper:hover p {
  color: var(--gold);
}

.section-wrapper:hover > span {
  transform: skew(-15deg);
  background-color: var(--blue-dark);
  transition: background-color 0.5s, transform 0.5s, margin 0.5s;
}

.lk-shiny::after {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 25vw);
  left: calc(var(--x, 0) * 1px - 25vw);
  width: 50vw;
  height: 50vw;
  background: radial-gradient(var(--blue), var(--blue-alt) 50%);

  opacity: 0;
  transition: opacity 0.2s;
}

.lk-shiny:hover::after {
  opacity: 0.4;
}

.footer-right-now {
  display: block;
  background-color: var(--gold);
  text-align: center;
  padding: 20px;
  cursor: default;
}

.footer-right-now span {
  color: #fff;
  display: inline-block;
  padding: 5px 8px;
  background: #000;
}

.footer-right-now a {
  color: #fff;
}

.footer-right-now a:hover {
  color: #000;
}

@media screen and (max-width: 1100px) {
  .main-container {
    width: 90vw;
    margin: 0 auto;
  }

  .main-container--nav {
    width: 100vw;
    min-width: 545px;
  }

  .logo-wrapper {
    margin-left: 20px;
  }
}

#particles-js {
  z-index: 1;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--white-alt); 
  background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 50% 50%;
}

/* min screen size */
@media screen and (max-width: 545px) {
  body {
    max-width: 545px;
    width: 545px;
    min-width: 545px;
    overflow-x: auto;
  }

  .middle-section .section-wrapper {
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }

  .middle-section .section-wrapper:hover > span {
    transform: skew(0deg);
  }
}
