extends layout.pug

block content
  .content.notes-content.content
    .row.row--flex
      .avatar-action.main-container.avatar-action-coffee
        .coffee-avatar
        h2 Lukasz Kups
        p Helping companies by turning ☕️ into code since <span>2010</span>.
    .main-container.about-page-container
      .about-page-wrapper
        article !{content}
