header
  .logo-wrapper
    .logo
  nav
    ul
      li
        a(href='/') Home
      li
        a(href='/about') About
      li
        a(href='/notes') Notes
      li
        a(href='/experience') Experience