header
  .logo-wrapper
    .logo
  nav
    ul
      li
        a(href='/', data-hover='Home') Home
      li
        a(href='/about', data-hover='About') About
      li
        a(href='/notes', data-hover='Notes') Notes
      li
        a(href='/experience', data-hover='Experience') Experience