meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
meta(name='description', content=`${description || ''}`)
meta(name='keywords', content=`${tags || ''}`)
link(rel='stylesheet', href='/assets/css/main.css', type='text/css')
title #{title}