extends layout.pug

block content
  .experience-wrapper
    .map-wrapper
      #experience-map.experience-map
      ul#experience-filter.experience-filter
        li(data-filter='website')
          span(data-hover='Websites') Websites
        li(data-filter='mobile')
          span(data-hover='Mobile apps') Mobile apps
        li(data-filter='design')
          span(data-hover='Design') Design
