extends layout.pug

block content
  .experience-wrapper
    h1.experience-title
      span Projects I've worked on around the globe
    #point-info.point-info
    .shadow
    .map-wrapper
      #experience-map.experience-map
