extends layout.pug

block content
  h1.home-title#home-title
  .square-avatar#svg
  ul.bottom-bar
    li
      a(href='/notes/?category=vue') Vue.js tips & tricks
    li
      a(href='/notes/?category=lifestyle') Programmer lifestyle
    li
      a(href='/experience') My experience