extends layout.pug

block content
  .home-wrapper
    .row.row--flex
      .square-avatar
      h1.home-title#home-title
      //- p.home-tag Just another front-end developer. Vue.js enthusiast. <span>Web maker.</span> Geek. AFOL. Hacker. Writer. Designer. Son. Brother. Father. Husband. Partner. Runner. <span>Engineer.</span> Cook. Learner. Teacher. Driver. Electronic Music Listener. Extreme Martial Arts Fan. <span>Programmer.</span> Wannabe Indie Game Developer. Pixel Art lover. Open Source Contributor. <span>Technocrat.</span> Tinkerer. Coffee addict.
      p.home-tag#home-tag Just another front-end developer. Vue.js fan. Web Crafter. G33k. AFOL. Tech Writer. Designer. Pixel artists. Engineer Programmer. Wannabe Indie Game Developer. Technocrat. Coffee addict. Tech stack: JavaScript, Cordova, Node.js, Meteor.js, Wordpress, Vue.js, git, Sass, Express.js, Affinity Designer.
    ul.bottom-bar
      li
        a(href='/notes/?category=programming')
          div
            strong A programmer's notepad
            span My tips & tricks from real-life projects

      li
        a(href='/notes/?category=lifestyle')
          div
            strong Batteries not included
            span Random thoughts not necessarily related to tech
      li
        a(href='/notes/?category=reviews')
          div
            strong Spoilers ahead
            span Sometimes I review various stuff
      li
        a(href='/experience')
          div
            strong My experience
            span If you want to learn about amazing projects I've worked on