extends layout.pug

block content
  .experience-wrapper
    h1.experience-title
      span Projects I've worked on around the globe
        a.cv-download-button(href='/static/lukasz-kups-cv-2019.pdf', data-hover='Download CV', target='_blank')
          span Download CV
    #point-info.point-info
    .shadow
    .map-wrapper
      #experience-map.experience-map
