footer
  .main-container.footer-container
    .row
      .col-25
        ul
          li.title Links
          li
            a(href='/') Home
          li
            a(href='/about') About
          li
            a(href='/notes') Writing
          li
            a(href='/projects') Projects
          li
            a(href='/experience') CV

      .col-25
        ul
          li.title Projects
          li
            a(href='https://github.com/writteli') Writte.li
          li
            a(href='https://github.com/lukaszkups/tavuelo') Tavuelo

      .col-25
        ul
          li.title Categories
          li
            a(href='/notes/?tag=programming') Programming
          li
            a(href='/notes/?tag=vue') Vue.js
          li
            a(href='/notes/?tag=reviews') Reviews
          li
            a(href='/notes/?tag=shortie') Shortie
          li
            a(href='/notes/?tag=thoughts') Thoughts

      .col-25
        ul
          li.title Social
          li
            a(href='https://twitter.com/lukaszkups') Twitter
          li
            a(href='https://github.com/lukaszkups') GitHub
          li
            a(href='https://linkedin.com/in/lukaszkups') LinkedIn
          li
            a(href='https://instagram.com/lukasz_kups') Instagram

    .row.copyrights
      | ©&nbsp;
      span#year 2020
      | &nbsp;lukaszkups. All Rights Reserved.

script(src='/assets/js/main.js')