- var menu = [{id: 0, name: 'Home', url: '/'}, {id: 1, name: 'About', url: '/about'}, {id: 2, name: 'Writing', url: '/notes'}, {id: 3, name: 'Projects', url: '/projects'}, {id: 4, name: 'CV', url: '/experience'}]
header
  .main-container.nav-container
    #logo.logo-wrapper
      .logo
    nav
      ul
        each item in menu
          li(class=meta.active == item.id ? 'active': '')
            a(href=item.url, data-hover=item.name) #{item.name}