extends layout.pug

block content
  .row.row--flex
    .avatar-action.main-container.avatar-action-coffee
      .coffee-avatar
      h2 Lukasz Kups
      p Helping companies by turning ☕️ into code since 2010.
  .main-container.about-page-container
    .about-page-wrapper
      article !{content}
