extends layout.pug

block content
  .row.row--flex
    .avatar-action.main-container
      .square-avatar
      h2 Lukasz Kups
      p Just another front-end developer. Web crafter. Writer. Making stuff around the web since 2010.
  .row.row--flex
    .home-content.main-container
      h1 Hello, I'm Lukasz - I help companies with various things related to the digital media.
  .gap.gap-h-30
  .home-content.main-container
    .row.row--flex
      .col-50
        ul.specialties
          li.title Tools of choice
          li JavaScript, Vue.js, Vuex, Vue-router, ElementUI, Bootstrap, Bulma, Construct 3, Express.js, Node.js, Webpack, TypeScript, Wordpress
      .col-50
        ul.specialties
          li.title Software
          li Visual Studio Code, git, WSL, Affinity Designer, Jira, GitHub, Bitbucket, Zeplin
    .gap.gap-h-30
    .row.row--flex
      .col-50
        ul.specialties
          li.title Main field of specialization
          li Front-end development, Single Page Apps, 2D game development, digital design.
      .col-50
        ul.specialties
          li.title Secondary field of specialization
          li Node.js-powered APIs, hybrid mobile app development, tech writing.
    .gap.gap-h-30
    .row.row--flex
      .col.home-dynamic-content !{content}
