extends layout.pug

block content
  .row.row--flex
    .avatar-action.main-container.avatar-action-coffee
      .coffee-avatar
      h2 Thank you!
      p
        span Your support gives me an additional motivation boost to work on even more online stuff!
        span
          a(href="/notes/", class="gold-button") See what I'm doing now
